*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;;
}

body{
    background: #252323;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0 2px white;
}

.container{
    padding: 40px;
    height: 90%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content:center;
    background: #318eda;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    flex-direction: column;
}

#resultDisplay{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #000000;
}

button{
    padding: 10px 25px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background: #007BFF;
    color: white;
    cursor: pointer;
    margin-bottom:16px ;
    box-shadow: 0 0 4px rgb(46, 44, 44);
    text-shadow:0 0 2px black;
}

#jumpButton{
    width: 100px;
    height: 100px;
    font-size: 1.2rem;
    margin-top: 20px;
    margin-bottom: 40px;
}

#saveButton{
    background: #28A745;
}

#resetButton{
    background: #DC3545;
}

h1{
    margin-bottom: 20px;
    color: #333;
}

#saveResult{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.3rem;
    color: #030303;

}